{% extends "base/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}

<section class="panel">
    <form method="post">
        {% csrf_token %}
        
<div class="row g-3">
    {% for field in form %}
    <div class="col-md-6">
        <label class="form-label fw-bold">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            <div class="text-danger small mt-1">{{ field.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>

        <button class="primary-btn" type="submit">حفظ</button>
        <a class="secondary-btn" href="{% url 'academics:academic_year_list' %}">رجوع</a>
    </form>
</section>

{% endblock %}
